<header class="menu">
  <div class="list-social-media">
    <a
      class="link"
      href="https://www.facebook.com/Ti-Chat-29-198937427142014/"
      target="_blank"
    >
      <SvgPhone />
    </a>
    <a
      class="link"
      href="https://www.facebook.com/Ti-Chat-29-198937427142014/"
      target="_blank"
    >
      <SvgFacebook />
    </a>
    <a
      class="link"
      href="https://www.facebook.com/Ti-Chat-29-198937427142014/"
      target="_blank"
    >
      <SvgInstagram />
    </a>
  </div>
  <div class="menu-container">
    <Burger />
    <div>
      <SvgCat />
      <SvgTiChat />
    </div>
    <nav class="navigation push-left">
      <router-link class="menu-item" :to="{ name: 'PageHome'}"
        >Home</router-link
      >
      <router-link class="menu-item" :to="{ name: 'NosChats'}"
        >Nos chats</router-link
      >
      <router-link class="menu-item" :to="{ name: 'PageActualitees'}"
        >Actualitées</router-link
      >
      <router-link class="menu-item" :to="{ name: 'PageFamilleDaccueil'}"
        >Devenir Famille d'acceuil</router-link
      >
      <router-link class="menu-item" :to="{ name: 'PageContact'}"
        >Contact</router-link
      >
    </nav>
  </div>
</header>
