<header class="header">
  <div class="list-social-media">
    <a
      class="link"
      href="https://www.facebook.com/Ti-Chat-29-198937427142014/"
      target="_blank"
    >
      <Facebook />
    </a>
    <a
      class="link"
      href="https://www.facebook.com/Ti-Chat-29-198937427142014/"
      target="_blank"
    >
      <Instagram />
    </a>
  </div>
  <div class="header-container">
    <Burger />
    <nav class="menu push-left">
      <router-link class="menu-item" :to="{ name: 'PageHome'}"
        >Home</router-link
      >
      <router-link class="menu-item" :to="{ name: 'NosChats'}"
        >Nos chats</router-link
      >
      <router-link class="menu-item" :to="{ name: 'PageActualitees'}"
        >Actualitées</router-link
      >
      <router-link class="menu-item" :to="{ name: 'PageFamilleDaccueil'}"
        >Devenir Famille d'acceuil</router-link
      >
      <router-link class="menu-item" :to="{ name: 'PageContact'}"
        >Contact</router-link
      >
    </nav>
  </div>
</header>
