/******* Variables Burger *******/
$burger-anim-duration: 0.5s !default;
$burger-color: #333 !default;
$burger-bkg-color: #efedea !default;
$burger-width: 50px !default;
$burger-height: 50px !default;
$burger-span-width: $burger-width/2 !default;
$burger-span-height: 3px !default;
$burger-span-space: $burger-span-height * 2.5 !default;
$burger-open-span-space: $burger-span-height * 3 !default;

.menu-icon {
  position: relative;
  width: $burger-width;
  height: $burger-height;
  cursor: pointer;

  span {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: $burger-span-width;
    height: $burger-span-height;
    background-color: $burger-color;

    transform: translateX(-50%) translateY(-50%);

    &::before,
    &::after {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: $burger-span-width;
      height: $burger-span-height;

      background-color: $burger-color;

      transform: translateY($burger-span-space * -1);
      transition: transform $burger-anim-duration;
    }
    &::after {
      transform: translateY($burger-span-space);
    }
  }
  &:hover {
    span::before {
      transform: translateY($burger-open-span-space * -1);
    }
    span::after {
      transform: translateY($burger-open-span-space);
    }
  }
}

.menu-icon-cross {
  transition: transform $burger-anim-duration;
  span {
    transition: background $burger-anim-duration,
      transform $burger-anim-duration;
    &::before,
    &::after {
      transform-origin: 50% 50%;
    }
  }

  &.is-opened {
    transform: rotate(180deg);
    span {
      background: transparent;
      &::before {
        transform: translateY(0) rotate(45deg);
      }
      &::after {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }
}
