/******* Variables *******/
$burger-anim-duration: $animation-duration !default;
$burger-color: $header-txt-color !default;
$burger-width: $header-burger-size !default;
$burger-height: $header-burger-size !default;
$burger-bar-height: 3px !default;
$burger-bar-space: $burger-bar-height * 2.5;
$burger-open-bar-space: $burger-bar-height * 3;

.icon-burger {
  position: relative;
  margin: auto;
  width: $burger-width;
  height: $burger-height;
  cursor: pointer;

  transition: transform $burger-anim-duration;

  span {
    position: absolute;
    top: 50%;
    bottom: 50%;

    display: block;
    width: $burger-width;
    height: $burger-bar-height;

    background-color: $burger-color;
    transform: translateY(-50%);

    &::before,
    &::after {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: $burger-width;
      height: $burger-bar-height;

      background-color: $burger-color;

      transform: translateY($burger-bar-space * -1);
      transition: transform $burger-anim-duration;
    }
    &::after {
      transform: translateY($burger-bar-space);
    }
  }
  &:hover {
    span::before {
      transform: translateY($burger-open-bar-space * -1);
    }
    span::after {
      transform: translateY($burger-open-bar-space);
    }
  }

  span::before,
  span::after {
    transform-origin: 50% 50%;
  }
  &.is-opened {
    transform: rotate(180deg);
    span {
      background: transparent;
      &::before {
        transform: translateY(0) rotate(45deg);
      }
      &::after {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }
}
