<div class="c-article">
  <div class="c-article-container">
    <div class="avatar">
      <div class="avatar-box avatar-paw" v-if="noPhoto">
        <SvgCatPaw class="avatar-content"></SvgCatPaw>
      </div>
      <div class="avatar-box avatar-photo" v-else>
        <img class="avatar-content article-photo" :src="getPhoto.img" />
      </div>
    </div>
    <div class="article-desc">
      <p class="desc-title">{{article.titre}}</p>
      <p class="date">{{getDateFormated}}</p>
      <p class="place">{{article.lieu}}</p>
      <div class="article-infos-supp">
        <p>{{ article.description }}</p>
      </div>
    </div>
  </div>
</div>