<template>
  <svg class="svg-social logo-facebook" viewBox="0 0 200 200">
    <circle class="cls-2" cx="100.5" cy="100.5" r="77.5" />
    <path
      class="cls-1"
      d="M108,125.41c0,7.15,0,14.3,0,21.45,0,1.8-.55,2.46-2.39,2.42-4.92-.09-9.85,0-14.78,0-2.81,0-2.82,0-2.83-2.77V104.42c0-2.77,0-2.71-2.84-2.46-1.79.15-3.61.06-5.41,0-1,0-1.41-.45-1.39-1.55.07-4.44.06-8.89,0-13.33,0-1.22.56-1.6,1.62-1.58,2,0,4-.09,6,.12,1.72.18,2.33-.54,2.2-2a80.37,80.37,0,0,1,.14-11.92c.49-8.59,7-16.86,17.79-16.66,4.78.09,9.58,0,14.36-.17,1.53,0,2.08.39,2,2q-.14,6.13,0,12.28c0,1.51-.5,1.82-1.92,1.84-3,0-5.93-.35-8.88.32a4.65,4.65,0,0,0-3.84,4c-.57,2.89-.26,5.81-.36,8.71,0,1.27.65,1.48,1.71,1.47,3.68,0,7.36.06,11-.05,1.45,0,2,.29,1.89,1.8-.47,4.52-.87,9-1.3,13.58-.12,1.24-1,1.3-2,1.3-3.12,0-6.25.06-9.37,0-1.32,0-1.78.41-1.57,1.66a1.47,1.47,0,0,1,0,.21Z"
    />
  </svg>
</template>