.page-nos-chats {
  .list-chats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item-chat {
    }
  }
}

@media only screen and (min-width: $min-width-s) {
}
@media only screen and (min-width: $min-width-m) {
}
