<section class="page-home">
    <h1>TiChat29</h1>
    <h2>Association de sauvetage de chats abandonnés</h2>
    <p>L'association Ti Chat 29 a été créée afin de venir en aide aux chats abandonnés. 
        L'objectif étant de recueillir, identifier, stériliser et placer les chats abandonnés. 
    </p>
    <h3>Objectifs de l'association :</h3>
    <p>Les chats sociables sont recueillis par notre association pour être proposés à l’adoption (ils sont identifiés, vaccinés, stérilisés ou castrés).
        Afin de remédier à la prolifération des chats errants qui ne sont pas sociables, nous souhaitons les faire stériliser ou castrer par un vétérinaire, puis les remettre sur site où ils sont nourris et disposent d’un abri que nous confectionnons.
    </p>

    <h3>Familles d'accueil :</h3>
    <p>
        Nous sommes à la recherche de familles d'accueil afin de mettre nos petits protégés à l'abri le temps de leur adoption. Les chats sont mis en quarantaine dans un premier temps, soit dans la famille d'accueil ou soit dans une famille d'accueil prévue pour les quarantaines.
        Ils seront vus par un vétérinaire, déparasités interne et externe, identifiés, stérilisés et primo vaccinés. Ti Chat 29 fournit les croquettes et prend en charge les frais vétérinaires.
        Actuellement les demandes de prise en charge affluent mais nous manquons cruellement de familles d'accueil. Etre famille d'accueil c'est de l'amour et le bonheur de participer à un sauvetage : n'hésitez pas à en parler autour de vous !
        Nous avons besoin de votre aide pour donner une seconde chance à tous ces chats abandonnés.
    </p>
</section>