/**------------------------------------------ Page Home -------------------------------------------------**/
.section-home {
  background-image: url('./../../assets/img/titles/homePic.jpg');
  h2 {
    font-size: 27px;
    text-transform: uppercase;
  }
}
