.section-title {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 0 1000px rgba($c-secundary-dark, 0.4);
  .title-centered {
    position: relative;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  h2 {
    color: $component-title-txt-color;
  }
  &.pageNosChats {
    background-image: url('./../../assets/titles/pageNosChats.jpg');
  }
  &.pageActualitees {
    background-image: url('./../../assets/titles/pageActualitees.jpg');
  }
  &.pageFamilleAcc {
    background-image: url('./../../assets/titles/pageFamilleAcc.jpg');
  }
  &.pageContact {
    background-image: url('./../../assets/titles/pageContact.jpg');
  }
}
