@mixin form() {
  width: 100%;
  .formSection {
    margin: 20px 0;
  }
  input,
  textarea {
    @include input;
  }
  label {
    @include label;
  }
}

@mixin input() {
  width: 100%;
  padding: 10px;
  margin-right: 20px;
  font-size: 20px;
  border: 2px solid $c-primary-light;
  border-radius: 3px;
}

@mixin label() {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  color: $c-text-dark;
}
