.c-event {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: $c-event-padding-tb $c-event-padding-lr;
  background-color: $c-event-bkg-color;
  border-radius: $c-event-border-radius;
  box-shadow: $c-event-box-shadow;
  .event-photo-container {
    width: $c-event-img-size;
    height: $c-event-img-size;
    background-color: $c-event-txt-color;
    border-radius: 50%;
    box-shadow: $c-event-box-shadow;
    .svg-cat-paw {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: $c-event-paw-drop-size;
      filter: $p-event-paw-drop-shadow;
      path,
      ellipse {
        fill: $p-chats-paw-color;
      }
    }
  }
  .event-desc {
    color: $c-event-txt-color;
    margin-left: $c-event-desc-margin-l;
    h2 {
      color: $c-event-title-color;
      text-transform: uppercase;
      font-style: italic;
    }
  }
}
