<div class="c-event">
  <div class="c-event-container">
    <div class="event-svg-container" v-if="noPhoto">
      <SvgCatPaw></SvgCatPaw>
    </div>
    <div class="event-photo-container" v-else>
      <img class="event-photo" :src="getPhoto.img" />
    </div>
    <div class="event-desc">
      <h2>{{ event.titre }}</h2>
      <div class="event-date">
        <p>Date: {{ event.date | moment("DD/MM/YYYY") }}</p>
        <p>Heure: {{ event.date | moment("H:mm")}}</p>
      </div>
      <p>Lieu: {{ event.lieu }}</p>
      <p>Description: {{ event.description }}</p>
    </div>
  </div>
</div>
