<Flipped
  :flipId="flipId"
  :shouldInvert="shouldFlip"
  stagger="listEvents"
  @on-start="onStart"
>
  <div class="c-event" :class="isExpanded">
    <Flipped :inverseFlipId="flipId">
      <div class="c-event-container">
        <Flipped
          :flipId="flipIdAvatar"
          :shouldFlip="shouldFlip"
          stagger="listEventsContent"
        >
          <div class="avatar">
            <SvgCatPaw v-if="noPhoto"></SvgCatPaw>
            <img class="event-photo" :src="getPhoto.img" v-else />
          </div>
        </Flipped>
        <div class="event-desc">
          <Flipped
            v-for="p in paragraphs"
            :key="p.index"
            :flipId="`listItem-p${p.index}`"
            :shouldFlip="shouldFlip"
            stagger="listEventsContent"
            class="event-desc"
          >
            <div>
              <p :class="descTitle(p.index)">{{p.txt}}</p>
            </div>
            <!-- <p>{{p.txt}}</p> -->
          </Flipped>
        </div>

        <div class="event-infos-supp" v-if="expanded">
          <h3>Description</h3>
          <p>{{ event.description }}</p>
        </div>
      </div>
    </Flipped>
  </div>
</Flipped>
