.c-event {
  max-width: $c-event-max-width;
  margin: auto;
  padding: $c-event-padding-tb $c-event-padding-lr;
  background-color: $c-event-bkg-color;
  // border-radius: $c-event-border-radius;
  box-shadow: $c-event-box-shadow;
  .c-event-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .avatar {
      position: relative;
      width: $c-event-img-size;
      height: $c-event-img-size;
      background-color: $c-event-txt-color;
      border-radius: 50%;
      margin-right: 3rem;
      .svg-cat-paw {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: $c-event-paw-drop-size;
        filter: $p-event-paw-drop-shadow;
        path,
        ellipse {
          fill: $p-chats-paw-color;
        }
      }
      .event-photo {
        width: $c-event-img-size;
        height: $c-event-img-size;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .event-photo-container {
      border: solid 1px $c-event-txt-color;
    }
    .event-svg-container {
      box-shadow: $c-event-box-svg-shadow;
    }
    .event-desc {
      color: $c-event-txt-color;
      .desc-title {
        color: $c-event-title-color;
        text-transform: uppercase;
        font-style: italic;
      }
      p {
        text-align: left;
      }
      button {
        position: relative;
        left: 84%;
        transform: translateX(-50%);
      }
      .event-txt {
        margin: $c-event-txt-margin-tb 0;
      }
    }
  }
  &.expanded {
    margin-top: $c-event-expanded-padding-tb;
    margin-bottom: $c-event-expanded-padding-tb;
    .c-event-container {
      flex-direction: column;

      .avatar,
      .event-desc {
        margin: auto;
      }
      .avatar {
        width: $c-event-expanded-img-size;
        height: $c-event-expanded-img-size;
        .event-photo {
          width: $c-event-expanded-img-size;
          height: $c-event-expanded-img-size;
        }
      }
      .event-desc {
        // desc-title,
        // h3 {
        //   margin-top: $c-event-title-margin-t;
        //   margin-bottom: $c-event-title-margin-b;
        // }
        // desc-title,
        // h3,
        // p {
        //   text-align: center;
        // }
        .event-infos-supp {
          p {
            padding: $c-event-desc-padding;
            background-color: $c-event-txt-color;
            border-radius: $c-event-desc-border-radius;
            color: $c-event-title-color;
            min-height: $c-event-desc-min-height;
            margin-bottom: $c-event-desc-margin-b;
          }
        }
      }
    }
  }
}
