.c-event {
  max-width: $c-event-max-width;
  margin: auto;
  padding: $c-event-padding-tb $c-event-padding-lr;
  background-color: $c-event-bkg-color;
  // border-radius: $c-event-border-radius;
  box-shadow: $c-event-box-shadow;
  .c-event-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .avatar {
      position: relative;
      width: $c-event-img-size;
      height: $c-event-img-size;
      background-color: $c-event-txt-color;
      border-radius: 50%;
      margin-right: 3rem;
      box-shadow: $c-event-box-svg-shadow;

      .svg-cat-paw {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: $c-event-paw-drop-size;
        filter: $p-event-paw-drop-shadow;
        path,
        ellipse {
          fill: $p-chats-paw-color;
        }
      }
      .event-photo {
        width: $c-event-img-size;
        height: $c-event-img-size;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .event-desc {
      color: $c-event-txt-color;
      .desc-title {
        color: $c-event-title-color;
        font-size: $c-event-title-font-size;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        margin-top: $c-event-title-margin-t;
        margin-bottom: $c-event-title-margin-b;
      }
      .event-desc-txt {
        position: relative;
        left: 0;
        transform: translateX(0%);
        width: fit-content;
        p {
          width: fit-content;
        }
      }

      button {
        position: relative;
        left: 84%;
        transform: translateX(-50%);
      }
      .event-txt {
        margin: $c-event-txt-margin-tb 0;
      }
    }
    .event-infos-supp {
      opacity: 0;
      h3 {
        text-align: center;
        margin-top: $c-event-title-margin-t;
        margin-bottom: $c-event-title-margin-b;
        font-size: $base-size-font-title-s;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
      }
      p {
        padding: $c-event-desc-padding;
        background-color: $c-event-txt-color;
        border-radius: $c-event-desc-border-radius;
        color: $c-event-title-color;
        min-height: $c-event-desc-min-height;
        margin-bottom: $c-event-desc-margin-b;
      }
    }
  }
  &.expanded {
    margin-top: $c-event-expanded-padding-tb;
    margin-bottom: $c-event-expanded-padding-tb;
    .c-event-container {
      flex-direction: column;
      .avatar,
      .event-desc {
        margin: auto;
      }
      .avatar {
        width: $c-event-expanded-img-size;
        height: $c-event-expanded-img-size;
        .event-photo {
          width: $c-event-expanded-img-size;
          height: $c-event-expanded-img-size;
        }
      }
      .event-desc {
        margin-top: $c-event-title-margin-t;
        margin-bottom: $c-event-title-margin-b;
        .event-desc-txt {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}
.animated-in .event-infos-supp {
  animation: fadeIn 0.6s forwards;
  animation-delay: 0.3s;
}
