.c-article {
  margin: auto;
  border: 2px solid $c-article-bkg-color;
  transition: all $animation-duration-short ease;

  .c-article-container {
    position: relative;
    .avatar {
      .avatar-box {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        &.avatar-paw {
          background-color: $site-bkg-color;
        }
        .avatar-content {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          &.svg-cat-paw {
            width: $c-article-avatar-paw-size;
            filter: $p-article-avatar-paw-drop-shadow;
            path,
            ellipse {
              fill: $c-article-paw-color;
            }
          }
          &.article-photo {
            object-fit: fill;
            height: 100%;
          }
        }
      }
    }

    .article-desc {
      .desc-title {
        font-size: $base-size-font-title-m;
        font-weight: bold;
        margin-top: $c-article-title-margin-t;
        margin-bottom: $c-article-title-margin-b;
      }
    }
  }

  &.not-expanded {
    width: $c-article-width;
    height: 100%;

    .c-article-container {
      padding: $c-article-padding-t $c-article-padding-lr $c-article-padding-b $c-article-padding-lr;
      .avatar {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: $c-article-img-size;
        .avatar-box {
          border: 1px solid $c-primary-dark;
          border-radius: 50%;
          box-shadow: $c-article-box-svg-shadow;
          &.avatar-photo {
            overflow-x: hidden;
          }
          &:before {
            content: "";
            display: block;
            padding-top: 100%; /* initial ratio of 1:1*/
          }
          .avatar-content {
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            &.svg-cat-paw {
              width: $c-article-avatar-paw-size;
            }
          }
        }
      }

      .article-desc {
        text-align: center;
        p {
          margin: 0;
        }
        .article-infos-supp {
          display: none;
        }
      }
    }
    &:hover {
      cursor: pointer;
      background-color: $c-article-bkg-color;
      p {
        color: $c-secundary-light;
      }
      .avatar {
        .avatar-box {
          border: 1px solid $c-article-bkg-color;
          box-shadow: $c-article-box-svg-shadow-hover;
          .avatar-content {
            &.svg-cat-paw {
              filter: $p-article-avatar-paw-drop-shadow;
            }
          }
        }
      }
    }
  }
  &.expanded {
    .c-article-container {
      padding: $c-articles-exp-padding-tb $c-articles-exp-padding-lr;
      flex-direction: column-reverse;
      .avatar {
        max-width: 100%;
      }
      .article-desc {
        .desc-title {
          text-align: center;
        }
        .date,
        .place {
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: $min-width-l) {
  .c-article {
    .c-article-container {
      .article-desc {
        .desc-title {
          font-size: $base-size-font-title-l;
        }
      }
    }
  }
}
