$herder-resp-item-center-width: 40%;
$herder-resp-item-sides-width: (100% - $herder-resp-item-center-width)/2;

/**------------------------------------------ header -------------------------------------------------**/
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition: background-color $animation-duration-short ease;

  .header-item {
    &.item-burger {
      width: $herder-resp-item-sides-width;
      padding: 20px;
      z-index: 2;
    }
    &.item-logo {
      width: $herder-resp-item-center-width;
      position: relative;
      transition: transform $animation-duration-short ease;
      .svg {
        margin: auto;
        display: block;
        cursor: pointer;
        &.svg-logo {
          width: $header-logo-size;
        }
        &.svg-logo-txt {
          width: $header-logo-txt-size;
          margin-top: $header-logo-txt-m-top;
        }
        path {
          fill: $header-txt-color;
        }
      }
    }
    &.item-social-media {
      width: $herder-resp-item-sides-width;
      padding: 5px;

      p {
        position: relative;
        font-size: 6px;
        color: $c-primary-more-dark;
        text-align: right;

        &.custom-underline::after {
          content: '';
          position: absolute;
          top: 90%;
          height: 1px;
          width: 90%;
          right: 0;
          background-color: $c-primary-more-dark;
        }
      }
      .list-social-media {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-top: 2px;
        .link {
          width: $header-social-size;
          margin-left: 3px;
          z-index: 2;
          .svg {
            filter: $drop-shadow;

            path {
              fill: $c-primary-more-dark;
            }
            &.svg-social {
              circle {
                fill: $header-txt-color;
              }
            }
          }
        }
      }
    }
  }

  &.big-header {
    width: 100%;
    height: $header-responsive-height;
    background-color: $header-bkg-color;

    .item-burger span {
      background-color: $header-txt-hover-color;
      &::before,
      &::after {
        background-color: $header-txt-hover-color;
      }
    }
    .item-logo {
      transform: translateY(
        ($header-logo-size - 2 * $header-logo-txt-m-top - 2px) * (-1)
      );
      .svg {
        path {
          fill: $header-txt-hover-color;
        }
      }
      .svg-logo {
        transform: translateY(-30px);
      }
    }
  }
}

@media only screen and (min-width: $min-width-s) {
  .header {
    .header-logo {
      transform: translateY(-40px);
    }
    .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      background-color: $header-txt-color;
      transition: background-color $animation-duration-short ease;
      transition: color $animation-duration-short ease;
      z-index: 3;
    }
    &.big-header {
      height: $header-height;
      .header-top {
        background-color: $header-txt-hover-color;
        color: $header-txt-color;
      }
      .header-logo {
        transform: translateY(($header-logo-size + 5px) * (-1));
      }
    }
  }
}
