/**------------------------------------------ header -------------------------------------------------**/
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition: background-color $animation-duration-short ease;

  .header-item {
    &.item-burger {
      z-index: 2;
    }
    &.item-logo {
      width: 50%;
      position: relative;
      transition: transform $animation-duration-short ease;
      transform: translateY(-20px);
      .svg {
        margin: auto;
        display: block;
        cursor: pointer;
        &.svg-logo {
          width: $header-logo-size;
        }
        &.svg-logo-txt {
          width: $header-logo-txt-size;
        }
        path {
          fill: $header-txt-color;
        }
      }
    }
    &.item-social-media {
      width: 40%;
      .list-social-media {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        .link {
          width: $header-social-size;
          z-index: 2;
          .svg {
            path {
              fill: $header-txt-color;
            }
            &.svg-social {
              circle {
                fill: none;
                stroke: $header-txt-color;
                stroke-width: 4px;
              }
            }
          }
        }
      }
    }
  }

  &.big-header {
    width: 100%;
    height: $header-responsive-height;
    background-color: $header-bkg-color;
    .svg {
      path {
        fill: $header-txt-hover-color;
      }
    }

    .item-burger span {
      background-color: $header-txt-hover-color;
      &::before,
      &::after {
        background-color: $header-txt-hover-color;
      }
    }
    .item-logo {
      transform: translateY(($header-logo-size - 20px) * (-1));
      .svg-logo {
        transform: translateY(-30px);
      }
    }
  }
}

@media only screen and (min-width: $min-width-s) {
  .header {
    .header-logo {
      transform: translateY(-40px);
    }
    .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      background-color: $header-txt-color;
      transition: background-color $animation-duration-short ease;
      transition: color $animation-duration-short ease;
      z-index: 3;
    }
    &.big-header {
      height: $header-height;
      .header-top {
        background-color: $header-txt-hover-color;
        color: $header-txt-color;
      }
      .header-logo {
        transform: translateY(($header-logo-size + 5px) * (-1));
      }
    }
  }
}
