/**------------------------------------------ header -------------------------------------------------**/
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  .svg {
    path {
      fill: $header-txt-color;
    }
  }

  .header-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .header-top-item {
      margin: 0 20px;
    }
    .burger {
      width: $header-burger-size;
      height: $header-burger-size;
      z-index: 2;
    }
    .social-media {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .link {
        width: $header-social-size;
        z-index: 2;
      }
    }
  }

  .header-logo {
    position: relative;
    transition-duration: $animation-duration-short;
    transform: translateY(-20px);
    .svg {
      margin: auto;
      display: block;
      cursor: pointer;
      &.svg-logo {
        width: $header-logo-size;
      }
      &.svg-logo-txt {
        width: $header-logo-txt-size;
      }
    }
  }

  &.big-header {
    width: 100%;
    height: $header-responsive-height;
    background-color: $header-bkg-color;
    .svg {
      path {
        fill: $header-txt-hover-color;
      }
    }
    .icon-burger span {
      background-color: $header-txt-hover-color;
      &::before,
      &::after {
        background-color: $header-txt-hover-color;
      }
    }
    .header-logo {
      transform: translateY(($header-logo-size - 20px) * (-1));
      .svg-logo {
        transform: translateY(-30px);
      }
    }
  }
}

@media only screen and (min-width: $min-width-s) {
  .header {
    .header-logo {
      transform: translateY(-40px);
    }
    &.big-header {
      height: $header-height;
      .header-logo {
        transform: translateY(($header-logo-size + 5px) * (-1));
      }
    }
  }
}
