/**------------------------------------------ header -------------------------------------------------**/
.main-header {
  .header-top {
    height: $header-top-height;
    display: flex;
    flex-wrap: wrap;
    .menu-img {
      width: 70%;
      cursor: pointer;
      img {
        height: $header-top-height;
        width: auto;
      }
    }
    .menu-burger {
      width: 30%;
    }
  }
  .main-nav {
    position: fixed;
    top: $header-top-height;
    width: 100%;
    height: $header-responsive-nav-height;

    .nav-items {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;

      background-color: $header-bkg-color;

      .nav-item {
        margin: auto;
        padding: 5px 0;
        font-family: $font-txt, sans-serif;
        transition: color $animation-duration;
        opacity: 0;

        .links {
          display: block;

          padding: 5px 0;

          font-size: $header-txt-responsive-size;
          text-transform: uppercase;
          text-align: center;
          color: white;
        }

        &:hover,
        &.active {
          color: $header-txt-hover-color;
          cursor: pointer;
        }
      }
    }
  }
}

.translatedMenu-enter-active {
  animation: translateIn $animation-duration;
}
.translatedMenu-leave-active {
  animation: translateIn $animation-duration reverse;
}
@keyframes translateIn {
  0% {
    // Appears from the left
    transform: translateX(-100%);
    // Appears from the right
    //transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
//Animation of the responsive menu
@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    // Appears from the left
    transform: translateX(-150px);
    // Appears from the right
    //transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes navLinkFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
