<footer class="footer">
  <div class="footer-item item-logo">
    <Cat class="svg-cat" />
    <TiChat class="svg-tichat" />
    <ul class="social-icons">
      <li>
        <a href="https://www.facebook.com/Ti-Chat-29-198937427142014/" target="_blank">
          <SvgFacebook />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/go2sport29/" target="_blank">
          <SvgInstagram />
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-item item-contact">
    <h3>Contactez-nous</h3>
    <ul class="contact-infos">
      <li class="contact-info phone">
        <SvgPhone />
        <p>06 66 66 66 66</p>
      </li>
      <li class="contact-info email">
        <SvgEmail />
        <p>tichat29@gmail.com</p>
      </li>
      <li class="contact-info address">
        <SvgAddress />
        <div class="text-address">
          <p>29 rue de Tichat</p>
          <p>29000 Quimper</p>
        </div>
      </li>
    </ul>
    <p class="copyright">© 2020 Mathéo</p>

  </div>
</footer>