.footer {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  background-image: url('./../../assets/img/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 10% center;

  box-shadow: inset 0 0 0 1000px rgba(#000, 0.2);

  .section-footer {
    padding-bottom: 0;
  }
  p,
  a {
    color: $footer-txt-color;
  }

  svg {
    circle {
      fill: none;
    }
    path {
      fill: $footer-txt-color;
    }
  }

  .footer-item {
    display: block;
    padding: $footer-item-padding-tb 0;

    &.item-logo {
      max-width: 150px;
      margin: auto;
    }
    &.item-navigation {
      display: flex;
      flex-wrap: nowrap;
      justify-items: center;
      justify-content: space-evenly;
      a {
        font-size: $base-size-font-txt-s;
        text-transform: uppercase;
      }
    }
    &.item-social-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      li {
        width: 40px;
        margin-right: $footer-social-margin-r;
        &:last-child {
          margin-right: 0px;
        }

        .svg-social {
          circle {
            fill: $footer-social-bkg-color;
          }
          path {
            fill: $footer-social-color;
          }
        }
      }
    }

    &.item-contact {
      .contact-info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: $footer-infos-margin-tb 0;
        .svg {
          width: $footer-infos-icon-size;
        }
        p {
          margin-left: $footer-infos-margin-r;
          margin-bottom: 0px;
          color: $footer-txt-color;
          text-align: center;
        }
      }
    }

    &.item-copyright {
      position: relative;
      text-align: center;
      span {
        position: absolute;
        top: $footer-copyright-span-top;
        left: 50%;
        transform: translateX(-50%);

        display: block;
        width: $footer-copyright-span-width;
        height: $footer-copyright-span-height;
        background-color: $footer-txt-color;
      }
      .splitter {
        display: none;
      }
    }
  }
}
/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-m) {
  .footer {
    .footer-item {
      &.item-logo {
      }
      &.item-navigation {
      }
      &.item-social-icons {
      }

      &.item-contact {
        .contact-infos {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .contact-info {
            &.phone,
            &.email {
              width: 50%;
            }
          }
        }
      }

      &.item-copyright {
        display: flex;
        justify-content: center;
        .splitter {
          display: block;
        }
      }
    }
  }
}
