footer{
    position: relative;
    background-image: url("./../../assets/homePic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 0 0 1000px rgba($c-secundary-dark, 0.9);
}