@font-face {
  font-family: 'futura';
  src: url('./assets/fonts/Futura_20Medium_20BT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myriad';
  src: url('./assets/fonts/MYRIADPRO-REGULAR.OTF') format('OpenType');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  color: inherit;
  cursor: pointer;
}
html,
body,
.app {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-family: $font-txt, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $c-text-dark;
  background-color: $site-bkg-color;
}
ul {
  list-style-type: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border: none;
}

h1,
h2,
h3,
h4 {
  font-family: $font-title, sans-serif;
}

// h2 {

// }
// h3 {

// }
// h4 {

// }

// p {

// }

button,
.button {
  padding: 10px;

  background-color: transparent;
  color: $buttons-color;

  border: solid $buttons-border-width $buttons-color;
  border-radius: $buttons-border-radius;

  transition: color $buttons-anim-duration ease;
  transition: background-color $buttons-anim-duration ease;

  cursor: pointer;

  text-align: center;
  text-transform: uppercase;
  font-family: $font-txt, sans-serif;
  font-size: $base-size-font-title-s;
  font-style: italic;

  @media only screen and (min-width: $min-width-s) {
  }
  @media only screen and (min-width: $min-width-m) {
  }

  &:hover {
    background-color: $buttons-color;
    color: $buttons-color-hover;
  }

  &:focus {
    outline: none;
  }
}

.section {
  position: relative;
  //background-image: url(./assets/img/backgroundTichat29.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &::before {
    background-color: $c-dark-background;
    display: block;
    content: '';
    position: absolute;
    height: inherit;
    width: inherit;
  }
  .section-container {
    margin: 0;
    width: $section-resp-width;
    padding-top: $section-padding-tb;
    padding-bottom: $section-padding-tb;
    padding-left: $section-padding-lr;
    padding-right: $section-padding-lr;
  }
}

@media only screen and (min-width: $min-width-m) {
  .section {
    .section-container {
      margin: auto;
      width: $section-width;
    }
  }
}

svg {
  path {
    fill: $c-secundary-dark;
  }
}
