$animation-duration-short: 0.3s;
$animation-duration: 0.5s;

/*******************************
** Media Query
********************************/
$min-width-s: 450px;
$min-width-m: 650px;
$min-width-l: 850px;

/*******************************
** Colors
********************************/
$c-primary: #e2e0dd;
$c-primary-light: #efedea;
$c-primary-dark: #978f8f;

$c-secundary: #575a5b;
$c-secundary-light: #fafafa;
$c-secundary-dark: #333;

$c-third: #d5ac7f;

$c-text-light: $c-primary;
$c-text-dark: $c-secundary;

$c-dark-background: $c-primary-light;

$c-box-shadow: rgba(0, 0, 0, 0.9);

/*******************************
** Fonts
********************************/
$font-title: 'futura';
$font-txt: 'myriad';

$base-size-font-txt-s: rem(16);
$base-size-font-txt-m: rem(20);
$base-size-font-txt-l: rem(24);

$base-size-font-title-s: rem(16);
$base-size-font-title-m: rem(22);
$base-size-font-title-l: rem(32);

/*******************************
** Import
********************************/
@import './variables/v-globals';

/* Components */
@import './variables/v-burger';
@import './variables/v-buttons';
@import './variables/v-carousel';
@import './variables/v-chat';
@import './variables/v-lightbox';
@import './variables/v-menu';
@import './variables/v-footer';
@import './variables/v-titles';
@import './variables/v-section-bkg-img';

/* Pages */
@import './variables/v-page-home';
@import './variables/v-page-nos-chats';
