$animation-duration-short: 0.3s;
$animation-duration: 0.5s;

/*******************************
** Media Query
********************************/
$min-width-s: 450px;
$min-width-m: 650px;
$min-width-l: 850px;

/*******************************
** Import
********************************/
@import './variables/v-colors';
@import './variables/v-fonts';
@import './variables/v-globals';

/* Components */
@import './variables/v-burger';
@import './variables/v-buttons';
@import './variables/v-carousel';
@import './variables/v-lightbox';
@import './variables/v-menu';
@import './variables/v-footer';
@import './variables/v-titles';
@import './variables/v-section-bkg-img';

/* Pages */
@import './variables/v-page-home';
@import './variables/v-page-nos-chats';
@import './variables/v-page-contact';
