/******* Variables Burger *******/
$burger-anim-duration: $animation-duration;
$burger-color: $c-primary-dark;
$burger-bkg-color: $c-primary;
$burger-width: 50px;
$burger-height: 50px;
$burger-span-height: 3px;
