/******* Variables Burger *******/
$buttons-anim-duration: $animation-duration-short;
$buttons-color: $c-text-dark;
$buttons-color-hover: $c-primary-light;
$buttons-border-width: 1px;
$buttons-border-radius: 30px;
