/*******************************
** Colors
********************************/
$c-primary: #e2e0dd;
$c-primary-light: #efedea;
$c-primary-dark: #978f8f;

$c-secundary: #575a5b;
$c-secundary-light: #fafafa;
$c-secundary-dark: #333;

$c-third: #d5ac7f;

$c-text-light: $c-primary;
$c-text-dark: $c-secundary;

$c-dark-background: $c-primary-light;

$c-box-shadow: rgba(0, 0, 0, 0.9);
