/*******************************
** Footer
********************************/
$footer-txt-color: $c-primary-light;
$footer-item-padding-tb: 30px;
$footer-img-width: 250px;
$footer-infos-icon-size: 40px;
$footer-infos-margin-r: 10px;
$footer-infos-margin-tb: 10px;
$footer-social-size: 20px;
$footer-social-margin-r: 30px;
$footer-social-color: $c-primary-dark;
$footer-social-bkg-color: $c-primary-light;
$footer-copyright-span-width: 70%;
$footer-copyright-span-height: 2px;
$footer-copyright-span-top: 20px;
