/*******************************
** Globals
********************************/
$size-under-menu: 90vh;
$section-width: 70%;
$section-resp-width: 100%;

$section-padding-tb: 70px;
$section-padding-lr: 10px;
$section-container-padding-tb: 10px;
$section-container-padding-lr: 10px;

$drop-shadow: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));

$svg-media-size: 40px;
$svg-color-anim-duration: $animation-duration-short;

$site-bkg-color: $c-secundary-light;
$component-title-txt-color: $c-secundary-light;
