/*******************************
** Globals
********************************/
$section-padding-tb: 50px;
$section-padding-lr: 10px;
$section-container-padding-tb: 10px;
$section-container-padding-lr: 10px;

$margin-bottom-h1: 20px;
$margin-bottom-h2: 15px;
$margin-bottom-h3: 10px;

$drop-shadow: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));

$svg-media-size: 40px;

$component-title-txt-color: $c-secundary-light;
