/******* Variables Lightbox *******/
$lightbox-color: tint($c-third, 50%);
$lightbox-icons-color: $c-primary;
$lightbox-nav-size: 50px;
$lightbox-duration-loading: $animation-duration;
$lightbox-duration-transition: $animation-duration;
$lightbox-duration-transition-delay: $animation-duration-short;
