/*******************************
** Menu
********************************/
$site-cache-color: rgba(0, 0, 0, 0.6);
$site-content-bkg-color: $c-primary-light;
$menu-width: 80%;
$menu-height: 66px;
$menu-bkg-color: $c-primary-light;
$menu-txt-color: $c-primary-dark;
$menu-animation-duration: $animation-duration;
$menu-social-size: 20px;
$menu-social-bkg-color: $c-primary;
