/*******************************
** Section Home
********************************/

/******************
** Section Home
*******************/
$page-home-size: $size-under-menu;
$page-home-title-txt-color: $c-secundary-light;
$page-home-title-font-size: 27px;
$page-home-title-margin-b: 20px;
$page-home-button-paw-size: 55px;
$page-home-button-paw-scale-up: 1.1;
$page-home-button-paw-scale-up-duration: 0.2s;

/******************
** Section help
*******************/
$s-help-div-padding: 5px;
$s-help-div-padding-tb-resp: 40px;
$s-help-div-margin-tb: 20px;
$s-help-div-offset: 60px;
$s-help-svg-paw-size: 100px;
$s-help-svg-paw-color: $c-third;
$s-help-svg-help-size: 50%;
$s-help-svg-help-color: $c-primary-light;
$s-help-button-width: 70%;
$s-help-buttons-nb-margin-lr: 40px;
$s-help-button-nb-margin-lr: 10px;
$s-help-button-nb-margin-tb: 5px;

/******************
** Section article
*******************/
$c-articles-margin-tb: 20px;
$c-article-max-width: 500px;
$c-article-padding-tb: 10px;
$c-article-expanded-padding-tb: 20px;
$c-article-padding-lr: 20px;
$c-article-bkg-color: $c-third;
$c-article-border-radius: 60px;
$c-article-box-shadow: 1px 1px 2px rgba($c-secundary-dark, 0.5);
$c-article-box-svg-shadow: 2px 2px 2px rgba($c-secundary-dark, 0.5);
$c-article-title-color: $c-secundary;
$c-article-title-margin-t: 10px;
$c-article-title-margin-b: 10px;
$c-article-title-font-size: $base-size-font-title-m;
$c-article-txt-color: $c-text-light;
$c-article-txt-margin-tb: 10px;
$c-article-img-size: 100px;
$c-article-expanded-img-size: 150px;
$c-article-paw-drop-size: 80%;
$p-article-paw-drop-shadow: drop-shadow(2px 0px 0px rgba(0, 0, 0, 0.8));
$c-article-desc-width: 70%;
$c-article-desc-margin-l: 10px;
$c-article-desc-padding: 15px;
$c-article-desc-min-height: 100px;
$c-article-desc-border-radius: 30px;
$c-article-desc-margin-b: $c-article-expanded-padding-tb;
