/*******************************
** Variables Page Nos Chats
********************************/
$p-chats-vc-position-b: 30px;
$p-chats-vc-position-r: 30px;
$p-chats-vc-h3-font-size: $base-size-font-title-s;
$p-chats-paw-width: 90px;
$p-chats-paw-color: $c-third;
$p-chats-paw-drop-shadow: drop-shadow(2px 0px 0px rgba(0, 0, 0, 0.8));
$p-chats-paw-scale-up: 1.1;
$p-chats-paw-scale-up-duration: 0.2s;

/*******************************
** Variables Component list-chat
********************************/

/*******************************
** Variables Component Chat-mini
********************************/
$c-chat-mini-img-size: 200px;
$c-chat-mini-svg-plus-width: 25px;
$c-chat-mini-svg-plus-color: $c-third;
$c-chat-mini-svg-plus-stroke-color: $c-primary-light;
$c-chat-mini-svg-plus-stroke-width: 8px;
$c-chat-mini-cloak-color: rgba($c-primary-light, 0.4);
$c-chat-mini-hover-duration: 0.2s;

/*******************************
** Variables Component chat-detail
********************************/
$c-chat-detail-bkg-color: $site-bkg-color-secundary;
$c-chat-detail-txt-color: $c-text-dark;
$c-chat-detail-img-size: 300px;
$c-chat-detail-margin-t: $c-chat-detail-img-size * 3/4;
$c-chat-detail-padding-t: $c-chat-detail-img-size * 3/4;
$c-chat-detail-padding-b: 50px;
$c-chat-detail-padding-lr: 50px;
$c-chat-detail-dsc-padding-tb: 40px;
$c-chat-detail-dsc-padding-lr: 10px;
$c-chat-detail-dsc-font-size: $base-size-font-txt-m;

$c-chat-detail-scr-padding-t: $c-chat-detail-padding-b;
$c-chat-detail-scr-avatar-container-size: 30%;
$c-chat-detail-scr-chat-details-size: 100% - $c-chat-detail-scr-avatar-container-size;
$c-chat-detail-scr-details-pos-t: $c-chat-detail-scr-padding-t + 50px;
$c-chat-detail-scr-dsc-padding-lr: 30px;

/*******************************
** Variables Component Conditions
********************************/
$c-conditions-bkg-color: $site-bkg-color-secundary;
