/*******************************
** Variables Page Contact
********************************/
$form-section-padding-lr: 10px;
$form-section-fs-padding-lr: 50px;
$form-section-form-width: 60%;
$form-section-infos-bkg-color: rgba($c-third, 0.7);
$form-elt-width: 95%;
$form-elt-width-fs: 48%;
$form-elt-margin-tb: 10px;

$form-input-bkg: $c-primary;
$form-input-padding: 10px;
$form-input-border-radius: 10px;
$form-input-font-size: $base-size-font-txt-s;
$form-input-font-color: $c-text-dark;
$form-input-placeholder-color: rgba($c-text-dark, 0.5);
$form-label-font-size: $base-size-font-txt-m;
$form-label-font-color: $c-text-dark;

$s-infos-svg-size: 40px;
$s-infos-svg-bkg-color: $c-text-dark;
$s-infos-svg-color: $c-primary-light;
