/*******************************
** Page Help
********************************/

/******************
** Section dons
*******************/
$p-help-c: $c-secundary;

$p-help-svg-size: 15px;
$p-help-svg-m-r: 15px;
$p-help-p-m-tb: 5px;
$p-help-remerciement-m-t: 40px;
$p-help-check-p: 15px;
$p-help-check-w: 60%;

/******************
** Section fam-acc
*******************/

/******************
** Section lilo
*******************/
