/*******************************
** Section help
********************************/
$s-help-div-padding: 5px;
$s-help-div-offset: 60px;
$s-help-svg-paw-size: 100px;
$s-help-svg-paw-color: $c-third;
$s-help-svg-help-size: 50%;
$s-help-svg-help-color: $c-primary-light;
$s-help-p-margin-tb: 10px;
$s-help-button-width: 70%;
