/*******************************
** Section bkg img
********************************/
$sbkgimg-box-shadow: inset 0 0 0 1000px rgba(#fff, 0.6);
$sbkgimg-crop-img-height: 140px;
$sbkgimg-crop-img-width: 200px;
$sbkgimg-dot-size: 16px;
$sbkgimg-dot-bottom: 10px;
$sbkgimg-dot-color: $c-third;
$sbkgimg-line-nb: 5;
$sbkgimg-line-height: 8px;
$sbkgimg-line-width: 2px;
$sbkgimg-line-color: $c-primary-dark;
$sbkgimg-line-space: 5px;
$sbkgimg-line-bottom: $sbkgimg-dot-bottom + $sbkgimg-dot-size/2 +
  $sbkgimg-line-space;
