/*******************************
** Section bkg img
********************************/
$sbkgimg-crop-img-height: 140px;
$sbkgimg-crop-img-width: 200px;
$sbkgimg-dot-size: 20px;
$sbkgimg-dot-bottom: 20px;
$sbkgimg-dot-color: $c-third;
$sbkgimg-line-nb: 5;
$sbkgimg-line-height: 8px;
$sbkgimg-line-width: 2px;
$sbkgimg-line-color: $c-primary-dark;
$sbkgimg-line-bottom: $sbkgimg-dot-bottom + $sbkgimg-dot-size;
$sbkgimg-line-space: 5px;
