.c-chat-detail {
  width: 100%;
  .chat-detail-circle {
    .chat-name {
      font-size: $c-chat-detail-name-font-size;
    }
    svg {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: $c-chat-detail-name-svg-size;
      path {
        fill: $c-chat-detail-name-bkg-color;
      }
    }
  }

  .chat-detail-container {
    position: relative;
    background-color: $c-chat-detail-bkg-color;
    padding: $c-chat-detail-dsc-padding-tb 0;

    .chat-description {
      position: relative;
      margin: auto;
      color: $c-chat-detail-txt-color;
      font-size: $c-chat-detail-dsc-font-size;
    }
    .buttons {
      @include btnPaw($btn-color: $c-chat-detail-txt-color);
    }
    .chat-description,
    .chat-list-photos {
      padding: $c-chat-detail-dsc-padding-tb $c-chat-detail-dsc-padding-lr;
    }
  }
}

//
/*******************************
 * Menu screen size
 *******************************/
@media only screen and (min-width: $min-width-l) {
  .c-chat-detail {
    overflow-x: hidden;
    .chat-detail-circle-fake,
    .chat-detail-circle {
      &:before {
        content: "";
        display: block;
        padding-top: 100%; /* initial ratio of 1:1*/
      }
    }
    .chat-detail-circle {
      position: absolute;
      top: $c-chat-detail-name-circle-top;
      right: $c-chat-detail-name-circle-right;
      background-color: $c-chat-detail-name-bkg-color;
      border-radius: 50%;
      width: $c-chat-detail-name-circle-size;

      &:before {
        content: "";
        display: block;
        padding-top: 100%; /* initial ratio of 1:1*/
      }
      .chat-detail-name-container {
        position: absolute;
        top: 60%;
        left: 8%;
        svg {
          position: relative;
          top: 20px;
          path {
            fill: $c-chat-detail-txt-color;
          }
        }
      }
    }
    .chat-detail-container {
      .chat-description {
        margin-left: auto;
        margin-right: 0;
        padding-right: $c-chat-detail-dsc-padding-lr * 2;
      }
      .chat-list-photos {
        position: absolute;
        left: 0;
        width: 60%;
        padding: 0;
      }
    }
  }
}
